@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: translateY(-0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes spin {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: rotateY(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Heebo Medium'), local('Heebo-Medium'), url(https://fonts.gstatic.com/s/heebo/v5/NGS3v5_NC0k9P9kFbqRMkKs.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media screen and (max-width: 800px)  {
  html {
    font-size: 47%;
  }
}
@media screen and (max-width: 500px)  {
  html {
    font-size: 32%;
  }
}
body {
  background-color: #f4f4f4;
  padding: 1rem;
}
@media screen and (max-width: 800px)  {
  body {
    padding: 0;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
}
a,
p {
  font-family: 'Roboto', sans-serif;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer .nav {
  width: 30%;
}
.footer .nav a {
  margin-right: 3rem;
  color: #333333;
  font-size: 1.5rem;
}
.footer .nav a:link,
.footer .nav a:visited {
  color: #333333;
}
.footer .social-icon-container {
  display: flex;
  justify-content: flex-end;
}
.footer .social-icon-container .social-icon {
  font-size: 3rem;
  color: #333333;
  text-decoration: none;
  margin-left: 2.5rem;
}
.footer .copyright-text {
  width: 100%;
  text-align: center;
  color: #333333;
  font-size: 1.5rem;
}
@media screen and (max-width: 800px)  {
  .footer {
    display: flex;
    position: static;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
  }
  .footer .nav a {
    font-size: 3rem;
  }
  .footer .copyright-text {
    margin-top: 3rem;
    order: 2;
    width: 100%;
  }
  .footer .social-icon-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    order: 1;
    position: inherit;
  }
  .footer .social-icon-container .social-icon {
    font-size: 8rem;
  }
}
.landing-container {
  color: #f4f4f4;
}
.landing-header {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background-image: linear-gradient(rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0.75)), url("../imgs/background.jpg");
  background-size: cover;
  border-radius: 10px;
  padding: 10rem 5rem;
  margin-bottom: 1rem;
}
.landing-header .logo-container {
  display: block;
  text-align: center;
  height: 300px;
}
.landing-header .logo-container .logo {
  height: 100%;
}
.landing-header .header-title {
  letter-spacing: 0.25rem;
  text-align: center;
}
.landing-header .header-title .main-text {
  display: block;
  font-size: 10rem;
  animation: fromRight 1s;
}
.landing-header .header-title .sub-text {
  display: block;
  font-style: italic;
  font-size: 6rem;
  animation: fromLeft 1s;
}
.landing-header .check-features {
  display: block;
  margin: 0 auto;
  width: 45rem;
  text-align: center;
  margin-top: 5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 6rem;
  font-weight: bold;
  border-radius: 2rem;
  color: #1a1a1a;
  background-image: linear-gradient(to top left, #d8570d, #d8a304);
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.9);
  transition: all 0.2s;
  transform: translate(0);
  animation: fromBottom 1s 1s;
  animation-fill-mode: backwards;
}
.landing-header .check-features:hover {
  transition: all 0.2s;
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.5);
}
.landing-header .check-features:active {
  transition: all 0.2s;
  transform: translateY(0rem);
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 800px)  {
  .landing-header {
    min-height: 100vw;
    max-width: 100vw;
    border-radius: 0;
    margin-bottom: 0;
    height: auto;
  }
}
@media screen and (max-width: 500px)  {
  .landing-header {
    min-height: 100vh;
  }
}
.features {
  width: 100%;
  min-height: 100vh;
  height: auto;
  border-radius: 10px;
  background-image: linear-gradient(rgba(200, 200, 200, 0.7), rgba(200, 200, 200, 0.7)), url(../imgs/features.jpg);
  background-size: cover;
  margin-bottom: 1rem;
  padding-top: 10%;
}
.features .features-header {
  padding: 5rem 3rem;
  margin-bottom: 5rem;
  background-color: rgba(51, 51, 51, 0.75);
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  border-top: 10px solid rgba(51, 51, 51, 0.75);
  border-bottom: 10px solid rgba(51, 51, 51, 0.75);
}
.features .features-header .features-title {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 5rem;
}
.features .features-header .pitch {
  font-size: 3.5rem;
}
.features .feature-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.features .feature-card-container .feature-card {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #333333;
  border: 8px solid #d8a304;
  border-radius: 10px;
  transition: all 1s;
  transform: scale(1);
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.9);
}
.features .feature-card-container .feature-card .feature-name-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d8a304;
}
.features .feature-card-container .feature-card .feature-name-wrapper i {
  color: white;
  font-size: 6rem;
}
.features .feature-card-container .feature-card .feature-name-wrapper .feature-name {
  color: #333333;
  font-size: 3rem;
  text-align: center;
}
.features .feature-card-container .feature-card .feature-desc {
  font-size: 2rem;
  line-height: 3rem;
  height: 100%;
  padding: 2rem 2.5rem;
}
.features .feature-card-container .feature-card:hover {
  transition: all 1s;
  transform: scale(1.05);
}
.features .feature-card-container .join-now {
  display: block;
  margin: 0 auto;
  width: 45rem;
  text-align: center;
  margin-top: 5rem;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 6rem;
  font-weight: bold;
  border-radius: 2rem;
  color: #1a1a1a;
  background-image: linear-gradient(to top left, #d8570d, #d8a304);
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.9);
  transition: all 0.2s;
  transform: translate(0);
  margin: 10rem 30rem;
}
.features .feature-card-container .join-now:hover {
  transition: all 0.2s;
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.5);
}
.features .feature-card-container .join-now:active {
  transition: all 0.2s;
  transform: translateY(0rem);
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 800px)  {
  .features {
    border-radius: 0;
    height: auto;
    min-height: 100vw;
  }
  .features .features-header {
    border-radius: 0;
    margin-bottom: 6rem;
  }
  .features .feature-card-container {
    position: static;
    flex-direction: column;
    justify-content: space-between;
    transform: none;
  }
  .features .feature-card-container .feature-card {
    width: 100%;
    margin-bottom: 10rem;
  }
  .features .feature-card-container .feature-card .feature-name-wrapper .feature-name {
    font-size: 5rem;
  }
  .features .feature-card-container .feature-card .feature-desc {
    font-size: 4rem;
    line-height: 5rem;
  }
  .features .feature-card-container .feature-card:hover {
    transform: none;
  }
  .features .feature-card-container .join-now {
    margin: 5rem auto;
  }
}
@media screen and (max-width: 500px)  {
  .features {
    min-height: 100vh;
  }
}
.about-container {
  position: absolute;
  right: 41rem;
  margin-bottom: 1rem;
  color: #333333;
}
.about-container a,
.about-container p {
  line-height: 2.5rem;
}
@media screen and (max-width: 800px)  {
  .about-container {
    display: flex;
    flex-direction: column;
    position: static;
    margin-bottom: 0;
    font-size: 50%;
  }
}
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  height: 100vh;
  background-image: linear-gradient(rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0.75)), url("../imgs/side.jpg");
  background-size: 100% 100%;
  width: 40rem;
  color: #f4f4f4;
  padding: 2rem;
}
.sidebar * {
  color: inherit !important;
}
.sidebar .contact-form {
  margin-top: 10%;
  font-size: 2rem;
}
.sidebar .contact-form .contact-title {
  margin-bottom: 4rem;
}
.sidebar .contact-form .form-line {
  margin-bottom: 1.8rem;
}
.sidebar .contact-form .form-line input,
.sidebar .contact-form .form-line select,
.sidebar .contact-form .form-line textarea {
  width: 35rem;
  font-size: 1.6rem;
  color: #333333 !important;
}
.sidebar .contact-form .send-form {
  display: block;
  margin: 0 auto;
  width: 10rem;
  text-align: center;
  margin-top: 5rem;
  padding-top: 0;
  padding-bottom: 0;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 2rem;
  color: #1a1a1a;
  background-image: linear-gradient(to top left, #d8570d, #d8a304);
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.9);
  transition: all 0.2s;
  transform: translate(0);
  position: absolute;
  margin-top: 0;
  left: 2rem;
}
.sidebar .contact-form .send-form:hover {
  transition: all 0.2s;
  transform: translateY(-0.5rem);
  box-shadow: 0.5rem 2rem 2rem rgba(0, 0, 0, 0.5);
}
.sidebar .contact-form .send-form:active {
  transition: all 0.2s;
  transform: translateY(0rem);
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.9);
}
.sidebar .footer .nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.sidebar .footer .nav a {
  font-size: 1.3rem;
  margin-right: 0;
}
.sidebar .footer .social-icon-container {
  margin: 1rem 0;
  justify-content: space-around;
  width: 100%;
}
.sidebar .footer .social-icon-container .social-icon {
  margin-left: 0;
}
@media screen and (max-width: 800px)  {
  .sidebar {
    position: static;
    width: 100%;
    height: 25vw;
    min-height: 25vw;
    order: 3;
    padding: 0;
  }
  .sidebar .contact-form {
    display: none;
  }
  .sidebar .footer .nav a {
    font-size: 4rem;
    text-decoration: none;
  }
  .sidebar .footer .social-icon-container {
    margin: 4rem 0;
  }
}
@media screen and (max-width: 500px)  {
  .sidebar {
    height: 25vh;
    min-height: 25vh;
  }
}
.about-header {
  letter-spacing: 0.25rem;
  font-size: 7rem;
  text-align: center;
}
.about-header .main-text {
  animation: fadeIn 2s;
  animation-fill-mode: backwards;
}
@media screen and (max-width: 800px)  {
  .about-header {
    order: 1;
  }
}
.about-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #333333;
}
.about-cards .member-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  min-width: 300px;
  height: 50vh;
  min-height: 600px;
  margin: 5rem 5rem;
  padding: 1rem 0;
  border: 2px solid rgba(51, 51, 51, 0.75);
  box-shadow: 0 1rem 2rem rgba(50, 50, 50, 0.9);
  animation: spin 1s;
  animation-fill-mode: backwards;
  transition: 1s;
}
.about-cards .member-card:hover {
  cursor: pointer;
}
.about-cards .member-card .member-img-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 92%;
  opacity: 1;
}
.about-cards .member-card .member-img-container .member-img {
  height: 100%;
  width: 100%;
}
.about-cards .member-card .member-details {
  opacity: 0;
  position: absolute;
  padding-top: 40%;
  color: #f4f4f4;
  height: 92%;
  width: 92%;
  transform: rotateY(180deg);
}
.about-cards .member-card .member-details .member-name {
  text-align: center;
  font-size: 3rem;
}
.about-cards .member-card .member-details .member-title {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
}
.about-cards .member-card .member-details .member-blurb {
  margin: 4rem 5rem;
  font-size: 1.8rem;
}
@media screen and (max-width: 800px)  {
  .about-cards .member-card .member-details {
    padding-top: 15%;
  }
  .about-cards .member-card .member-details .member-name {
    font-size: 4rem;
  }
  .about-cards .member-card .member-details .member-title {
    font-size: 3.5rem;
  }
  .about-cards .member-card .member-details .member-blurb {
    line-height: 5rem;
    font-size: 3rem;
  }
}
@media screen and (max-width: 800px)  {
  .about-cards {
    order: 2;
  }
  .about-cards .member-card {
    min-height: 600px;
    width: 80%;
  }
}
