.about-container {
    position: absolute;
    right: 40rem;
    margin-bottom: 1rem;

    color: @coal;

    a,p {
        line-height: 2.5rem;
    }

    @media @tablet {
        display: flex;
        flex-direction: column;
        position: static;
        margin-bottom: 0;
        font-size: 50%;
    }
}


.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: 0;
    height: 100vh;
    background-image: linear-gradient(@coalalpha,@coalalpha), url("../imgs/side.jpg");
    background-size: 100% 100%;
    width: 25rem;
    color: @snow;
    padding: 1rem;

    * {
        color: inherit !important;
    }

    .contact-form {
        margin-top: 10%;
        font-size: 2rem;

        .contact-title {
            margin-bottom: 4rem;
        }
        .form-line {
            margin-bottom: 1.8rem;
            input, select, textarea {
                width: 22rem;
                font-size: 1.6rem;
                color: @coal !important;
            }
        }

        .send-form {
            .btn(10rem, 2rem);
            position: absolute;
            margin-top: 0;
            left: 1rem;
        }
    }

    .footer {
        .nav {
            display: flex;
            justify-content: space-around;
            width: 100%;

            a {
                font-size: 1.3rem;
                margin-right: 0;
            }
        }
        .social-icon-container {
            margin: 1rem 0;
            justify-content: space-around;
            width: 100%;

            .social-icon {
                margin-left: 0;
            }
        }
    }

    @media @tablet {
        position: static;
        width: 100%;
        height: 25vw;
        min-height: 25vw;
        order: 3;
        padding: 0;

        .contact-form {
            display: none;
        }

        .footer {
            .nav {
                a {
                    font-size: 4rem;
                    text-decoration: none;
                }
            }
            .social-icon-container {
                margin: 4rem 0;
            }
        }
    }

    @media @phone {
        height: 25vh;
        min-height: 25vh;
    }
}

.about-header {
    letter-spacing: .25rem;
    font-size: 7rem;
    text-align: center;

    .main-text {
        animation: fadeIn 2s;
        animation-fill-mode: backwards;
    }
    @media @tablet {
        order: 1;
    }
}

.about-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: @coal;

    .member-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        height: 50vh;
        min-height: 50vh;
        margin: 5rem 5rem;
        padding: 1rem 0;
        // background-color: @coal;
        background-image: white;
        border: 2px solid @coalalpha;
        box-shadow: 0 1rem 2rem rgba(50, 50, 50, .9); 
        transition: 1s;

        &:hover {
            cursor: pointer;
        }        

        .member-img-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border: 1px solid black;
            height: 92%;
            width: 92%;
            opacity: 1;

            .member-img {
                height: 100%;
                width: 100%;
            }
        }
        .member-details {
            opacity: 0;
            position: absolute;
            margin-top: 40%;
            height: 92%;
            width: 92%;
            transform: rotateY(180deg);
            
            .member-name {
                text-align:center;
                font-size: 3rem;
            }
    
            .member-title {
                text-align: center;
                font-size: 2rem;
                font-style: italic;
            }
    
            .member-blurb {
                margin: 1rem 5rem;
                font-size: 1.8rem;
            }

            @media @tablet {
                margin-top: 25%;
                
                .member-name {
                    font-size: 6rem;
                }
                .member-title {
                    font-size: 5rem;
                }
                .member-blurb {
                    line-height: 5rem;
                    font-size: 4rem;
                }
            }
        }
    }

    @media @tablet {    
        order: 2;
        .member-card {
            min-height: 600px;
            width: 80%;
        }
    }
}
