.cta-banner {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: url('../imgs/lee-myungseong-y1XXWct5rBo-unsplash.jpg');

    .opacity-layer {
        height: 100%;
        width: 100%;
        background-color: rgba(10, 10, 10, .7);
    }
}