body {
    padding: 1rem;
    background-color: @green;
}

.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(@coalalpha,@coalalpha), url("../imgs/background.jpg");
    background-size: 100% 100%;
    border-radius: 10px;
    padding-top: 20rem;
    // margin-bottom: 2%;
    .logo-container {
        display: block;
        text-align: center;
    } // end logo container

    .header-title {
        letter-spacing: .25rem;
        text-align: center;

        .main-text {
            display: block;
            font-size: 10rem;
            animation: fromRight 1s;
        }

        .sub-text {
            display: block;
            font-style: italic;
            font-size: 6rem;
            animation: fromLeft 1s;
        }
    } // end header-title

    .check-features {
        display: block;
        margin: 0 auto;
        width: 45rem;
        text-align: center;
        margin-top: 5rem;
        text-decoration: none;
        color: @coal;
        font-size: 6rem;
        font-weight: bold;
        border-radius: 2rem;
        background-color: @mustard;
        box-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .9); 
        animation: fromBottom 1s 1s;
        animation-fill-mode: backwards;
        transition: all .2s;
        transform: translate(0);
        
        &:hover {
            transition: all .2s;
            transform: translateY(-.5rem);
            box-shadow: .5rem 2rem 2rem rgba(0, 0, 0, .5); 
        }
        
        &:active {
            transition: all .2s;
            transform: translateY(0rem);
            box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .9); 
            
        }

    }


} // end header

@media @phone {
    * {
        border: 1px solid red;
    }
}

// .features {
//     height: 100vh;
//     width: 100%;
//     background-color: @warm;
//     border-radius: 10px;
// }
