.landing-container {
    color: @snow;
}

.landing-header {
    min-height: 100vh;
    height: auto;
    width: 100%;
    background-image: linear-gradient(@coalalpha,@coalalpha), url("../imgs/background.jpg");
    background-size: cover;
    border-radius: 10px;
    padding: 10rem 5rem;
    margin-bottom: 1rem;

    .logo-container {
        display: block;
        text-align: center;
        height: 300px;
        .logo {
            height: 100%;
        }
    } // end logo container

    .header-title {
        letter-spacing: .25rem;
        text-align: center;

        .main-text {
            display: block;
            font-size: 10rem;
            animation: fromRight 1s;
        }

        .sub-text {
            display: block;
            font-style: italic;
            font-size: 6rem;
            animation: fromLeft 1s;
        }
    } // end header-title


    .check-features {
        .btn(45rem, 6rem);
        animation: fromBottom 1s 1s;
        animation-fill-mode: backwards;
    }


    @media @tablet {
        min-height: 100vw;
        max-width: 100vw;
        border-radius: 0;
        margin-bottom: 0;
        height: auto;
    }

    @media @phone {
        min-height: 100vh;
    }
    
    
} // end header



.features {
    width: 100%;
    min-height: 100vh;
    height: auto;
    border-radius: 10px;
    background-image: linear-gradient(@snowalpha,@snowalpha), url(../imgs/features.jpg);
    background-size: cover;
    margin-bottom: 1rem;
    
    .features-header {
        padding: 5rem 3rem;
        margin-bottom: 5rem;
        background-color: @coalalpha;
        border-radius: 10px 10px 0px 0px;   
        width: 100%;
        border-top: 10px solid @coalalpha;
        border-bottom: 10px solid @coalalpha;

        .features-title {
            font-size: 8rem;
            text-align: center;
            margin-bottom: 5rem;
            // color: @coal;
        }
        
        .pitch {
            // color: @coal;
            font-size: 3.5rem;
        }
    }

    .feature-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .feature-card {
            display: flex;
            flex-direction: column;
            width: 20%;
            background-color: @coal;
            border: 8px solid @mustard;
            border-radius: 10px;
            transition: all 1s;
            transform: scale(1);
            box-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .9); 


            
            .feature-name-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: @mustard;
                
                i {
                    color: white;
                    font-size: 6rem;
                }
                
                .feature-name {
                    color: @coal;
                    font-size: 3rem;
                    text-align: center;
                }
            }
            
            .feature-desc {
                font-size: 2rem;
                line-height: 3rem;
                height: 100%;
                padding: 2rem 2.5rem;
            }

            &:hover {
                transition: all 1s;
                transform: scale(1.05);
            }
        }

        .join-now {
            .btn(45rem, 6rem);
            margin: 10rem 30rem;
        }
        

    } // end feature card container

    @media @tablet {

        border-radius: 0;
        height: auto;
        min-height: 100vw;
        
        .features-header {
            border-radius: 0;
            margin-bottom: 6rem;
        }
        .feature-card-container {
            position: static;
            flex-direction: column;
            justify-content: space-between;
            transform: none;

            .feature-card {
                width: 100%;
                margin-bottom: 10rem;
                .feature-name-wrapper {
                    .feature-name {
                        font-size: 5rem;
                    }
                }
                .feature-desc {
                    font-size: 4rem;
                    line-height: 5rem;
                }

                &:hover {
                    transform: none;
                }
            }

            .join-now {
                margin: 5rem auto;
            }
        }
    }

    @media @phone {
        min-height: 100vh;
    }
} // end features

